.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 4px 15px 6px;
  background: #191a1b;
  justify-content: space-between;
}

.app-header__logo {
  margin: 0;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

.app-header__link {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
